<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/nav') %>

<main class="container mx-auto p-4">
    <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Estudios y Formación</h2>
    <div class="max-w-4xl mx-auto">

        <!-- Contenedor de los estudios -->
        <div class="space-y-8">

            <!-- Ejemplo de Estudio 1: Título Universitario -->
            <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                <div class="flex justify-between items-start flex-wrap">
                    <h3 class="text-xl font-bold text-gray-900">Bachelor in Science from Software Development</h3>
                    <span class="bg-blue-100 text-blue-800 text-sm font-semibold px-3 py-1 rounded-full mt-2 sm:mt-0">2017 - 2026</span>
                </div>
                <p class="text-md font-semibold text-blue-700 mt-1">Brigham Young University - Idaho</p>
                <p class="text-gray-600 mt-4">
                    Mantengo los estudios en los ultimos semestres, habiando aprobado el desarrollo web Frontend, Backend, desarrollo de aplicaciones
                    de escritorio y móviles, bases de datos, sistemas operativos.  
                </p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                <div class="flex justify-between items-start flex-wrap">
                    <h3 class="text-xl font-bold text-gray-900">Egresado en Tecnología Electrónica</h3>
                    <span class="bg-green-100 text-green-800 text-sm font-semibold px-3 py-1 rounded-full mt-2 sm:mt-0">2003-2006</span>
                </div>
                <p class="text-md font-semibold text-green-700 mt-1">Escuela Superior Politécnica del Litoral</p>
                <p class="text-gray-600 mt-4">
                </p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                <div class="flex justify-between items-start flex-wrap">
                    <h3 class="text-xl font-bold text-gray-900">Técnico Superior en Sistemas Microinformáticos</h3>
                    <span class="bg-purple-100 text-purple-800 text-sm font-semibold px-3 py-1 rounded-full mt-2 sm:mt-0">2019 - 2021</span>
                </div>
                <p class="text-md font-semibold text-purple-700 mt-1">Centro de Formación Profesional</p>
                <p class="text-gray-600 mt-4">
                    Fundamentos de hardware, sistemas operativos (Windows y Linux), redes locales, seguridad informática y scripting básico.
                </p>
            </div>

        </div>
    </div>
</main>

<%- include('partials/footer') %>
<%- include('partials/scripts') %>
